<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png" />
    <link rel="stylesheet" href="/static/stylesheets/welcome.css">

    <title>Tim Says Hi</title>
</head>

<body>
    <div class="main">
        <div class="main-layout">
            <div class="title-bar">
                <span class="title">Tim Woods</span>
            </div>
            <div class="divider"></div>
            <div class="content">This is what should be servered on test
            </div>
        </div>
    </div>
</body>

</html>